{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"]
  }
}
